<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareXpert</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <header>
        <div class="logo"><img src="../static/images/CareXpert.png" alt=""></div>
        <nav>
            <a href="#" class="translate-icon"><img src="../static/images/language.png" alt="language feature"></a>
            <button class="quick-scan-button">Quick Health Scan</button>
        </nav>
    </header>

    <div class="background-text">
        <div class="scroll-line left">
            Diabetes Hypertension Arthritis Asthma COVID-19 Migraines Heart Disease Influenza Kidney Disease Allergies
            Anxiety Depression Skin Conditions Infections Obesity Thyroid Disorders Digestive Issues
        </div>
        <div class="scroll-line right">
            Cancer Heartburn Stroke High Blood Pressure Bone Health Skin Conditions Lung Disorders Hormonal Imbalance
            Infections Nutrition Eye Conditions Muscular Disorders Chronic Pain Mental Health Issues
        </div>
        <div class="scroll-line left">
            Wellness Therapy Nutrition Mental Health Fitness Immunity Respiratory Disorders Liver Health Pregnancy
            Dental Care Physical Rehabilitation Neurological Issues Cardiovascular Health Digestive Health
        </div>
        <div class="scroll-line right">
            Wellness Therapy Nutrition Mental Health Fitness Immunity Respiratory Disorders Liver Health Pregnancy
            Dental Care Physical Rehabilitation Neurological Issues Cardiovascular Health Digestive Health
        </div>
    </div>

    <main>
        <div class="doctor-container">
            <img src="../static/images/doc.png" alt="Cartoon Doctor" class="doctor-image">
        </div>

        <div class="quote-box">
            <h1>Empowering you with instant insights for a healthier tomorrow.</h1>
        </div>
    </main>

    <section>
        <div class="sidebar">
            <form action="/predict" method="post">
                <div class="card">
                    <h2>Height</h2>
                    <p><label for="height">Enter height in CM</label></p>
                    <div class="inercard">
                        <input type="number" placeholder="157" id="height" name="height">
                        <img src="/static/images/healthicons_height (1).png" alt="">
                    </div>
                </div>

                <div class="card">
                    <h2>Age</h2>
                    <p><label for="age">Enter Age</label></p>
                    <div class="inercard">
                        <input type="number" placeholder="52" id="age" name="age">
                        <img src="/static/images/healthicons_old-man.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <h2>Weight</h2>
                    <p><label for="weight">Enter Weight KG</label></p>
                    <div class="inercard">
                        <input type="number" placeholder="68" id="weight" name="weight">
                        <img src="/static/images/icon-park-outline_weight.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <h2>Blood Pressure</h2>
                    <p><label for="bloodPressure">Enter Blood Pressure</label></p>
                    <div class="inercard">
                        <input type="number" placeholder="95" id="bloodPressure" name="bloodPressure">
                        <img src="/static/images/Vector.png" alt="">
                    </div>
                </div>
                <button class="btn" type="submit" onclick="startTyping()"
                    style="height: 30px; border-radius: 5px;">Analyze</button>

            </form>
        </div>

        <!-- Graphs are presented here -->
        <div class="presentation">
            <div class="inerpresentaion">
                <div class="graph">
                    <h2>Diagnose Graph</h2>
                </div>
                <div class="Disease">
                    <h2>Disease</h2>
                    <p id="Disease">{{ session.disease }}</p>
                </div>
            </div>
            <div class="AIgenerated">
                <h3>AI Suggetion</h3>
                <p><span class="auto-type"></span></p>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
        function startTyping() {
            var typed = new Typed(".auto-type", {
                strings: ["Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga repudiandae deleniti ea eius animi ipsa ipsam cumque provident enim voluptatem officiis eos excepturi aut cum quia doloribus sint, non, culpa labore. Perferendis quos velit voluptatibus unde iste harum quasi temporibus consectetur, amet, quisquam hic vel tenetur adipisci culpa! Iste."],
                typeSpeed: 5,
                backSpeed: 150,
                looped: true
            })
        }
    </script>

    <script>
        document.querySelector('.translate-icon').addEventListener('click', () => {
            alert("Language switch coming soon!");
        });

    </script>
</body>

</html>